<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": "https://bdzion.github.io/#person",
      "name": "Md Bodrud-Doza",
      "url": "https://bdzion.github.io/",
      "image": "https://bdzion.github.io/assets/portrait.webp",
      "jobTitle": "Postdoctoral Scholar",
      "worksFor": {"@type": "CollegeOrUniversity", "name": "University of Guelph", "url": "https://www.uoguelph.ca/"},
      "sameAs": [
        "https://scholar.google.com/citations?user=1VymNoIAAAAJ&hl=en",
        "https://orcid.org/0000-0003-4694-4077",
        "https://www.linkedin.com/in/md-bodrud-doza-phd-33156a80/",
        "https://github.com/bdzion"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "https://bdzion.github.io/#website",
      "url": "https://bdzion.github.io/",
      "name": "Md Bodrud-Doza",
      "inLanguage": "en-CA",
      "publisher": {"@id": "https://bdzion.github.io/#person"}
    }
  ]
}
</script>
